In [5]:
import numpy as np
import pandas as pd
import scipy as sp
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols

In [6]:
# Import plotting routines
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [7]:
emdat = pd.read_csv('EM-DAT/Storms_all_countries.csv')
emdat

,year,disaster type,iso,country_name,occurrence,Total deaths,Affected,Injured,Homeless,Total affected,Total damage
0,1900,Storm,USA,United States of America (the),1,6000.0,NaN,NaN,NaN,NaN,30000.0
1,1902,Storm,MMR,Myanmar,1,600.0,NaN,NaN,NaN,NaN,NaN
2,1903,Storm,JAM,Jamaica,1,65.0,NaN,NaN,NaN,NaN,NaN
3,1903,Storm,USA,United States of America (the),1,98.0,NaN,NaN,NaN,NaN,NaN
4,1904,Storm,BGD,Bangladesh,1,NaN,NaN,NaN,NaN,NaN,NaN
5,1905,Storm,PHL,Philippines (the),1,240.0,NaN,NaN,NaN,NaN,NaN
6,1906,Storm,HKG,Hong Kong,1,10000.0,NaN,NaN,NaN,NaN,20000.0
7,1906,Storm,USA,United States of America (the),2,298.0,NaN,NaN,NaN,NaN,NaN
8,1909,Storm,BGD,Bangladesh,2,172.0,NaN,NaN,NaN,NaN,NaN
9,1909,Storm,HTI,Haiti,1,150.0,NaN,NaN,NaN,NaN,NaN
10,1909,Storm,USA,United States of America (the),2,391.0,NaN,NaN,NaN,NaN,NaN
11,1910,Storm,USA,United States of America (the),1,30.0,NaN,NaN,NaN,NaN,NaN
12,1911,Storm,BGD,Bangladesh,1,NaN,NaN,NaN,NaN,NaN,NaN
13,1911,Storm,TWN,Taiwan (Province of China),1,1000.0,NaN,NaN,NaN,NaN,20000.0
14,1912,Storm,CAN,Canada,1,28.0,NaN,200.0,2500.0,2700.0,5000.0
15,1912,Storm,CHN,China,1,50000.0,NaN,NaN,NaN,NaN,NaN
16,1912,Storm,JAM,Jamaica,1,142.0,NaN,NaN,94820.0,94820.0,NaN
17,1912,Storm,JPN,Japan,1,1000.0,NaN,NaN,NaN,NaN,20000.0
18,1912,Storm,PHL,Philippines (the),1,NaN,NaN,NaN,NaN,NaN,10000.0
19,1913,Storm,USA,United States of America (the),1,732.0,NaN,NaN,NaN,NaN,200000.0
20,1914,Storm,TKL,Tokelau,1,NaN,NaN,NaN,NaN,NaN,NaN
21,1915,Storm,HTI,Haiti,1,1600.0,NaN,NaN,NaN,NaN,NaN
22,1915,Storm,USA,United States of America (the),1,525.0,NaN,NaN,NaN,NaN,60000.0
23,1916,Storm,IND,India,1,300.0,NaN,NaN,NaN,NaN,NaN
24,1917,Storm,JAM,Jamaica,1,57.0,NaN,NaN,NaN,NaN,NaN
25,1917,Storm,JPN,Japan,1,4000.0,NaN,NaN,NaN,NaN,50000.0
26,1918,Storm,USA,United States of America (the),1,34.0,NaN,NaN,NaN,NaN,NaN
27,1919,Storm,BGD,Bangladesh,1,NaN,NaN,NaN,NaN,NaN,NaN
28,1919,Storm,USA,United States of America (the),1,500.0,NaN,NaN,NaN,NaN,25000.0
29,1920,Storm,USA,United States of America (the),1,224.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1947,2015,Storm,DOM,Dominican Republic (the),1,NaN,33.0,NaN,2100.0,2133.0,NaN
1948,2015,Storm,SLV,El Salvador,1,12.0,20000.0,NaN,NaN,20000.0,NaN
1949,2015,Storm,HTI,Haiti,1,5.0,NaN,3.0,1966.0,1969.0,NaN
1950,2015,Storm,IND,India,4,92.0,135000.0,100.0,NaN,135100.0,161000.0
1951,2015,Storm,IRL,Ireland,1,1.0,NaN,NaN,NaN,NaN,NaN
1952,2015,Storm,ISR,Israel,1,NaN,NaN,200.0,NaN,200.0,NaN
1953,2015,Storm,JPN,Japan,5,11.0,60828.0,205.0,NaN,61033.0,223200.0
1954,2015,Storm,KIR,Kiribati,1,NaN,2400.0,NaN,NaN,2400.0,NaN
1955,2015,Storm,LBN,Lebanon,3,5.0,1000942.0,750.0,NaN,1001692.0,NaN
1956,2015,Storm,MDG,Madagascar,2,95.0,NaN,37.0,182400.0,182437.0,46000.0
1957,2015,Storm,MWI,Malawi,1,5.0,NaN,NaN,350.0,350.0,NaN
1958,2015,Storm,MEX,Mexico,3,43.0,13092.0,286.0,750.0,14128.0,410000.0
1959,2015,Storm,FSM,Micronesia (Federated States of),1,5.0,6000.0,NaN,NaN,6000.0,NaN
1960,2015,Storm,MMR,Myanmar,1,3.0,NaN,NaN,NaN,NaN,NaN
1961,2015,Storm,MNP,Northern Mariana Islands (the),1,NaN,350.0,10.0,NaN,360.0,NaN
1962,2015,Storm,PSE,"Palestine, State of",2,4.0,31050.0,NaN,NaN,31050.0,NaN
1963,2015,Storm,PRY,Paraguay,1,2.0,10000.0,25.0,NaN,10025.0,NaN
1964,2015,Storm,PHL,Philippines (the),10,148.0,3602774.0,131.0,3300.0,3606205.0,1881367.0
1965,2015,Storm,SLB,Solomon Islands,2,9.0,30000.0,NaN,400.0,30400.0,NaN
1966,2015,Storm,SOM,Somalia,2,NaN,NaN,NaN,NaN,NaN,NaN
1967,2015,Storm,SYR,Syrian Arab Republic,2,13.0,NaN,3500.0,NaN,3500.0,NaN
1968,2015,Storm,TWN,Taiwan (Province of China),3,9.0,NaN,762.0,NaN,762.0,26000.0
1969,2015,Storm,TZA,"Tanzania, United Republic of",1,47.0,5000.0,112.0,NaN,5112.0,NaN
1970,2015,Storm,TUV,Tuvalu,1,NaN,3000.0,NaN,NaN,3000.0,NaN
1971,2015,Storm,GBR,United Kingdom of Great Britain and Northern I...,1,3.0,15600.0,NaN,NaN,15600.0,1100000.0
1972,2015,Storm,USA,United States of America (the),12,175.0,300.0,72.0,NaN,372.0,10825000.0
1973,2015,Storm,VUT,Vanuatu,1,11.0,166000.0,NaN,NaN,166000.0,449400.0
1974,2015,Storm,VNM,Viet Nam,1,7.0,NaN,NaN,115.0,115.0,NaN
1975,2015,Storm,YEM,Yemen,2,32.0,125000.0,65.0,NaN,125065.0,100000.0
1976,2015,Storm,ZWE,Zimbabwe,1,10.0,NaN,NaN,475.0,475.0,NaN

In [8]:
emdat[['Total affected','Total damage','Total deaths']].dropna(axis=0)

      Total affected  Total damage  Total deaths
14            2700.0        5000.0          28.0
63           12000.0       40000.0        2000.0
114        1881672.0      400000.0        4197.0
127            300.0       18000.0          14.0
145          20200.0       56000.0         154.0
152            800.0        2000.0          23.0
155            452.0       50000.0        1014.0
207        1500000.0      600000.0        5264.0
216           1250.0       35000.0           5.0
225         425000.0       32000.0         631.0
238           8000.0         500.0           2.0
251        1000000.0       50000.0       22079.0
266            800.0         250.0         300.0
271          80000.0       10000.0         100.0
275          86830.0        1000.0         210.0
276         400000.0        4100.0         450.0
277            518.0         300.0           1.0
278        1225546.0       43000.0         636.0
280         380000.0       37300.0         206.0
283         700000.0       50000.0        7000.0
285       15660000.0       57700.0       48921.0
291         500000.0        1000.0         100.0
295           1000.0     1610000.0         570.0
299              3.0       15500.0           5.0
300        1800000.0       22400.0         850.0
304         174030.0       18000.0           5.0
305          12942.0        5000.0          74.0
306          10000.0       70000.0          25.0
307          67881.0       20000.0         480.0
309         150000.0        4200.0          18.0
...              ...           ...           ...
1899       1963444.0     1474230.0          79.0
1905            40.0      545000.0           1.0
1907      11209694.0    10069973.0         329.0
1911             1.0      400000.0           8.0
1913        931564.0     7000000.0         111.0
1916         41282.0     6541000.0         129.0
1917           101.0       11000.0          24.0
1921        144135.0     2539500.0          19.0
1922        117000.0      300000.0          49.0
1926      13068983.0     1062899.0         326.0
1928           265.0       85000.0           1.0
1933          4014.0       31000.0           1.0
1934         18000.0      100000.0           5.0
1935          1232.0    10366000.0         139.0
1937         48075.0       10700.0          38.0
1938          4500.0       17200.0           8.0
1939          5938.0     1653000.0           4.0
1940          6710.0      100000.0          35.0
1945       2058700.0     7435690.0          58.0
1946         28594.0      482810.0          30.0
1950        135100.0      161000.0          92.0
1953         61033.0      223200.0          11.0
1956        182437.0       46000.0          95.0
1958         14128.0      410000.0          43.0
1964       3606205.0     1881367.0         148.0
1968           762.0       26000.0           9.0
1971         15600.0     1100000.0           3.0
1972           372.0    10825000.0         175.0
1973        166000.0      449400.0          11.0
1975        125065.0      100000.0          32.0

[640 rows x 3 columns]

Notes: EMDAT summarizes events per year. This means that one datapoint can contain the outcome of more than one storm. It is hence not possible to assign storm effects or deaths to only singular events, unless there was only one storm in place.
<br>

The current selection contains 1976 entries, but only 174 of these are complete in all columns. <br>

When looking at total affected and total damage, the dataset contains 719 complete entries <br>

When looking at total affected and total damage and total death, the dataset contains 640 complete entries <br>

In [9]:
emdat.rename(columns={' country_name':'country','Total affected':'tot_aff','Total damage':'tot_dam','Total deaths':'tot_death'},inplace=True)

In [10]:
emdat.head(2)

,year,disaster type,iso,country,occurrence,tot_death,Affected,Injured,Homeless,tot_aff,tot_dam
0,1900,Storm,USA,United States of America (the),1,6000.0,NaN,NaN,NaN,NaN,30000.0
1,1902,Storm,MMR,Myanmar,1,600.0,NaN,NaN,NaN,NaN,NaN

In [11]:
storms = emdat[emdat['disaster type']=='Storm']

In [12]:
storms.head()

,year,disaster type,iso,country,occurrence,tot_death,Affected,Injured,Homeless,tot_aff,tot_dam
0,1900,Storm,USA,United States of America (the),1,6000.0,NaN,NaN,NaN,NaN,30000.0
1,1902,Storm,MMR,Myanmar,1,600.0,NaN,NaN,NaN,NaN,NaN
2,1903,Storm,JAM,Jamaica,1,65.0,NaN,NaN,NaN,NaN,NaN
3,1903,Storm,USA,United States of America (the),1,98.0,NaN,NaN,NaN,NaN,NaN
4,1904,Storm,BGD,Bangladesh,1,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
storms = storms[['year','iso','country','occurrence','tot_aff','tot_death','tot_dam']]

In [15]:
storms.head()

,year,iso,country,occurrence,tot_aff,tot_death,tot_dam
0,1900,USA,United States of America (the),1,NaN,6000.0,30000.0
1,1902,MMR,Myanmar,1,NaN,600.0,NaN
2,1903,JAM,Jamaica,1,NaN,65.0,NaN
3,1903,USA,United States of America (the),1,NaN,98.0,NaN
4,1904,BGD,Bangladesh,1,NaN,NaN,NaN

In [16]:
regress_multiple_p = smf.ols(formula='tot_aff ~ tot_dam + tot_death-1', data=storms).fit()
regress_multiple_p.params
regress_multiple_p.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                tot_aff   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     5.091
Date:                Mon, 02 May 2016   Prob (F-statistic):            0.00640
Time:                        15:51:35   Log-Likelihood:                -10911.
No. Observations:                 640   AIC:                         2.183e+04
Df Residuals:                     638   BIC:                         2.184e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
tot_dam        0.0603      0.030      2.023      0.044         0.002     0.119
tot_death     40.9474     16.873      2.427      0.016         7.814    74.081
==============================================================================
Omnibus:                     1118.989   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           750435.165
Skew:                          11.070   Prob(JB):                         0.00
Kurtosis:                     169.286   Cond. No.                         566.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
#x_grid=np.linspace(0,storms['tot_aff'].max(), 100)
#y_pol_intercept = regress_multiple_p.params[0] + regress_multiple_p.params[1]*x_grid + regress_multiple_p.params[2]*x_grid
#y_pol= regress_multiple_p.params[0]*x_grid + regress_multiple_p.params[1]*x_grid

In [18]:
%matplotlib inline

In [19]:
%matplotlib qt

In [20]:
fig = plt.figure(figsize=[12,9])
plt.scatter(storms['tot_aff'], storms['tot_dam'], color='k', clip_on=False)
#plt.plot(storms['tot_aff'],  regress_multiple_p.params[0]*storms['tot_dam']
#        + regress_multiple_p.params[1] * storms['tot_death'], 'rx')
plt.plot(storms['tot_aff'],  regress_multiple_p.params[0]*storms['tot_aff']
         + regress_multiple_p.params[1]*storms['tot_death'], 'rx')


#plt.plot(x_grid, y_pol)
# for k in df_stats.index.values:
#     plt.annotate(xy = [df_stats.loc[k,'social_p'], df_stats.loc[k,'CPI2015']],
#                  s=k, xycoords='data')

plt.xlabel('Total affected')
plt.ylabel('Total damage')
plt.title('Storms')
plt.xlim([0,2e7])
plt.ylim([0,1e7])
plt.legend()

In [21]:
fig = plt.figure(figsize=[12,9])
plt.scatter(storms['tot_aff'], storms['tot_death'], color='k', clip_on=False)

plt.plot(storms['tot_aff'],  regress_multiple_p.params[0]*storms['tot_aff']
         + regress_multiple_p.params[1]*storms['tot_death'], 'rx')

#plt.plot(x_grid, y_pol)
# for k in df_stats.index.values:
#     plt.annotate(xy = [df_stats.loc[k,'social_p'], df_stats.loc[k,'CPI2015']],
#                  s=k, xycoords='data')

plt.xlabel('Total affected')
plt.ylabel('Total deaths')
plt.title('Storms')
plt.xlim([0,2e7])
plt.ylim([0,1e4])
plt.legend()